body {
    background: url('./bg.avif');
    background-size: cover;
    backdrop-filter: blur(2px);
}

.dashboard-card {
    width: 18rem;
    border-radius: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.537);
    box-shadow: 0 4px 8px rgba(11, 11, 11, 0.58);
    color: #fff;
}
.dashboard-card i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.nav-tabs .nav-link {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.365);
    color: white !important;
}

th, td{
    padding: 5px !important;
}

select {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
}