header{
    margin: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main div{
    display: flex;
    justify-content: space-between;
}

select{
    border-radius: 0.2rem;
    outline: none;
}
select:focus{
    border: 1px solid #007aff;
    box-shadow: 1px 1px 5px #007aff;
}

@media only screen and (pointer:none), (pointer:coarse) {
    header{
        font-size: 40px;
    }
    h5{
        font-size: 35px;
    }
    main{
        font-size: 30px;
    }
    .table {
        font-size: 30px !important;
    }
}